/* LoginStyle.css */

.root {
    -fx-font-family: 'Arial';
    -fx-background-color: #2e2e2e; /* Dark background */
}

.haomText {
    -fx-font-size: 18pt; /* Adjust the font size as needed */
    -fx-font-family: "Arial"; /* Specify font family */
    -fx-fill: #333333; /* Set text color */
    -fx-font-weight: bold; /* Set font weight */
    -fx-text-alignment: center; /* Set text alignment */
}


.label {
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: #d3d3d3; /* Light gray text */
}

.text-field {
    -fx-pref-width: 200px;
    -fx-font-size: 14px;
    -fx-background-color: #4b4b4b; /* Darker background for text field */
    -fx-text-fill: #ffffff; /* White text */
    -fx-border-width: 1px;
    -fx-border-color: transparent; /* Transparent border */
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px; /* Add padding to make room for glow effect */
}

.text-field:hover {
    -fx-background-color: #555555; /* Darker background on hover */
    -fx-border-color: #9a4bff; /* Purple border on hover */
    -fx-border-width: 2px;
    -fx-box-shadow: 0 0 5px 2px #9a4bff; /* Purple glow effect on hover */
}

.text-field:focused {
    -fx-background-color: #6a6a6a; /* Darker background when focused */
    -fx-border-color: #9a4bff; /* Purple border when focused */
    -fx-border-width: 2px;
    -fx-box-shadow: 0 0 5px 2px #9a4bff; /* Purple glow effect when focused */
}


.button {
    -fx-background-color: #6a0dad; /* Purple background */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0); /* Add a drop shadow effect */
    -fx-transition-duration: 0.2s; /* Animation duration */
    -fx-cursor: hand; /* Change cursor to hand on hover */
}

.button:hover {
    -fx-background-color: #8e24aa; /* Lighter purple on hover */
    -fx-scale-x: 1.05; /* Grow horizontally */
    -fx-scale-y: 1.05; /* Grow vertically */
}

.button:pressed {
    -fx-background-color: #4a148c; /* Darker purple on press */
}

