#profile-scene-root {
    -fx-background-color: #212121;
}

#profile-title-label {
    -fx-font-family: "Impact";
    -fx-font-size: 24px;
    -fx-padding: 20px;
    -fx-text-fill: #ffffff; 
    -fx-translate-y: -10;
}

#profile-image-view {
    -fx-border-width: 2px;
    -fx-translate-y: 100;
}

#change-image-button {
    -fx-background-color: #6a0dad;
    -fx-text-fill: white; 
    -fx-font-size: 8px; 
    -fx-translate-x: 40;
    -fx-translate-y: -65;
}

#delete-image-button {
    -fx-background-color: #6a0dad;
    -fx-text-fill: white; 
    -fx-font-size: 8px; 
    -fx-translate-x: -40;
    -fx-translate-y: -65;
}

#change-image-button:hover, #delete-image-button:hover {
    -fx-background-color: #54078b;
}

#email-label {
    -fx-font-family: "Impact";
    -fx-text-fill: #ffffff; 
    -fx-font-size: 20px; 
    -fx-translate-y: 70; 
}

#points-label {
    -fx-font-family: "Impact";
    -fx-text-fill: #ffffff; 
    -fx-font-size: 20px; 
    -fx-translate-y: 110;
}

#back-button {
    -fx-background-color: #6a0dad;
    -fx-text-fill: white; 
    -fx-font-size: 16px; 
    -fx-padding: 10px 20px;
}

#back-button:hover {
    -fx-background-color: #54078b;
}

#logout-button {
    -fx-background-color: #6a0dad;
    -fx-text-fill: white; 
    -fx-font-size: 16px; 
    -fx-padding: 10px 20px;
}

#logout-button:hover {
    -fx-background-color: #54078b;
}

#profile-layout {
    -fx-background-color: #F5F5F5;
    -fx-padding: 20px; 
}
